/* @font-face {
  font-family: 'Pixelade';
  src: url('/fonts/PIXELADE.TTF');
  font-weight: 400;
} */

@import url('https://fonts.cdnfonts.com/css/pixelade');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e1e;
  --foreground: #ffffff;
}

body {
  @apply text-foreground font-geologica;
  /* background: var(--background); */
  background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 0) 0%,
      rgba(244, 0, 0, 0.12) 100%
    ),
    #1e1e1e;
  /* font-family: Arial, Helvetica, sans-serif; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: transparent 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(40px);
  }
  40% {
    transform: translateX(-40px);
  }
  60% {
    transform: translateX(40px);
  }
  80% {
    transform: translateX(-40px);
  }
}

.shake {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
