/* @font-face {
  font-family: 'Pixelade';
  src: url('/fonts/PIXELADE.TTF');
  font-weight: 400;
} */

@import url('https://fonts.cdnfonts.com/css/pixelade');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e1e;
  --foreground: #ffffff;
}

body {
  @apply text-foreground font-geologica;
  /* background: var(--background); */
  background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 0) 0%,
      rgba(244, 0, 0, 0.12) 100%
    ),
    #1e1e1e;
  /* font-family: Arial, Helvetica, sans-serif; */
}
